/* section-service */
.barre-bleu{
    height: 3px;
    width: 50px;
    background-color: rgb(88, 70, 249);
}
.icon-service{ 
    width: 25vh;
    height: 15vh;
    background-color: rgb(238, 236, 254);
    font-size: 38px;

}
.icon-service:hover{
    color: #fff !important;
    background-color: rgb(88, 70, 249);
}
.icon-Features{
    font-size: 45px;
}
.Testimonials{
    background-color: rgb(247, 246, 254);
}